<h1>New Application</h1>

<%= form_with method: :post, local: true do |f| %>
  <%= f.label :applicant_name, 'Name: ' %>
  <%= f.text_field :applicant_name %>

  <%= f.label :applicant_street_address, 'Street Address: '%>
  <%= f.text_field :applicant_street_address %>

  <%= f.label :applicant_city, 'City: '%>
  <%= f.text_field :applicant_city %>

  <%= f.label :applicant_state, 'State: '%>
  <%= f.text_field :applicant_state %>

  <%= f.label :applicant_zip_code, 'Zip Code: '%>
  <%= f.text_field :applicant_zip_code %>

  <%= f.label :description, 'Why I make a good home: ' %>
  <%= f.text_field :description %>

  <%= f.hidden_field :status, value: 'In Progress' %>

  <%= f.submit 'Submit' %>
<% end %>
