<h1>All pets</h1>

<%= render partial: 'search', locals: { path: "/pets", method: :get } %>

<% @pets.each do |pet| %>
  <h3><%= pet.name %></h3>
  <p>Age: <%= pet.age %></p>
  <p>Breed: <%= pet.breed %></p>
  <p>Adoptable: </p>
  <p>You can find <%= pet.name %> at <%= pet.shelter_name %>!</p>

  <%= render partial: 'link', locals: { name: "Edit #{pet.name}",path: "/pets/#{pet.id}/edit", method: :get } %>
  <%= render partial: 'link', locals: { name: "Delete #{pet.name}",path: "/pets/#{pet.id}", method: :delete } %>
<% end %><br><br>

<%= render partial: 'link', locals: { name: 'New Application', path: '/applications/new', method: :get } %>
